<div class="container-fluid" id="conteudo" style="padding-right: 0px;padding-top: 0px;padding-left: 0px;margin-right: 0px; overflow-x: hidden;">
  <nav  class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-gl-6">
            <h3>Alta Demanda! Mas seguramos o seu carrinho por mais 10 minutos.</h3>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 tempo" style="margin-top:1em">
            <div class="row">
                <div class="col col-xs-12" id="parcelas">
                  <div style="text-align:center; width:100%">
                    <div class="numero">{{hora}}</div>
                    <div class="numero">0{{min}}</div>
                    <div class="numero">{{zeroStr}}{{sec}}</div>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-12" id="legenda">
                    <div style="text-align:center; width:100%">
                      <div>Horas</div>
                      <div>Minutos</div>
                      <div>Segundos</div>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 comprar" style="margin-top:0.5em !important">            
              <a href="javascript:void(0)" class="btn btn-sucess btn-comprar" (click)="goPagamento()">Comprar Agora<i class="fa fa-arrow-down" aria-hidden="true"></i> </a>              
          </div>          
      </div>
    </div>
  </nav>                 
<div class="row" style="margin:0px !important">
  <div class="col-lg-8 col-lg-offset-2 col-md-12  col-xs-12 padding-l-r-zero">
    <div class="panel panel-default padding-l-r-zero" id="produtox">
  <div class="panel-body" style=" text-align: center; padding: 0px;">
        <div style="/*background-color: #038583 */">
          <img class="" src="./assets/images/60b56b17d77edd8e4e7a147071f71995.jpg" alt=""  style="margin: 0 auto;width: 100%; height-min: 30px;"  >
        </div>
      </div>
      <div class="panel-footer"  >
                  Vendedor:  contato@meusorrisoperfeito.com
                 <!--   -->
      </div>
      </div>
  </div>
</div>


    <div class="bs-calltoaction bs-calltoaction-primary">
      <div class="row">
          <div class="col-md-12 cta-contents" style="text-align:center">
              <div style="display: inline-block; text-align: left;">
                <h1 class="cta-title">COMPRE COM TRANQUILIDADE</h1><hr/>
                <div class="cta-desc">
                  <h3>
                    <i style="color:#00AB65" class="icon-shield"></i>
                    Site Seguro, Certificado SSL.                    
                  </h3>
                  <h3>
                    <i style="color:#00AB65" class="icon-credit-card"></i>
                    Aceitamos Boleto ou Cartões.
                  </h3>
                  <h3>
                    <i style="color:#00AB65" class="icon-check"></i>
                    Compra segura garantida.
                  </h3>
                </div>
              </div>
          </div>      
      </div>
    </div>
  
    <pag-seguro></pag-seguro>

    <div class="row" style="text-align:center">
      <hr/>
        <h5 style="margin:0px">Sua compra será processada pelo </h5> <img src="./assets/images/logo_pagseguro.png">
    </div>



  <div class="row">  
    <div id="fim" class="col-sm-12 col-xs-12 rodape"> 
      <div style="text-align:center; margin-top:2em; color:white">
        <a style="color:white" href="/checkout/privacidade.html" target="_blank" class="privacidade">Política de privacidade</a> |
        <a style="color:white" href="/checkout/termos_compra" target="_blank" class="privacidade">Termos de compra</a>
        <p class="copyright">MeuSorrisoPerfeito.com 2018 - Todos os direitos reservados</p> 
      </div>               
    </div>
  </div>

</div>
   
