#products-3 #product-l2-1{ margin: auto!important; float: none!important; }
.reviews .review{ min-height: 250px; }
.answer img{ height: 120px; margin: 10px auto; display: block; }
.answer h4, .answer p{ text-align:center; }
.footer .footer-bg .footer-bg-img { background: url(/assets/images/footer.jpg) center no-repeat !important; }
.desktop_content{ display:block; } 
.mobile_content{ display:none; }
.video { background: url(/assets/images/y35tuSF.png) center no-repeat !important; }
@media (max-width: 768px) {
.footer .footer-bg .footer-bg-img { background: none !important; }
.desktop_content{ display:none; } 
.mobile_content{ display:block; }
}