<div class="js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths desktop landscape">
  <div data-aos-easing="ease" data-aos-duration="700" data-aos-delay="300">
      <div id="page-preloader" style="display: none;">
         <svg class="circular" height="50" width="50">
            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"></circle>
         </svg>
      </div>
      <section id="main" class="wrapper">
         <header id="home" class="header-container">
            <div class="container-fluid header-content">
               <span class="trapeze-bg"></span>
               <div class="container screen-container">
                  <div class="row">
                     <div class="col-md-12 title-center-content">
                        <div class="col-md-6 title-text animation-right">
                           <h1>
                              Sorriso <span class="text-notice-line">Perfeito,</span>Resultados imediatos, sem dor, baixo custo!
                           </h1>
                           <p>
                              Trata-se da maneira perfeita de obter um sorriso perfeito em menos de 2 minutos sem qualquer dor. Mais de 4.500.000 unidades vendidas em todo o mundo...
                           </p>
                           <a  [routerLink]="['/checkout']" class="button hero-button smooth" title="PEÇA AGORA">PEÇA AGORA</a>
                        </div>
                        <div class="col-md-6 title-product animation-left">
                           <span>SorrisoVeneers</span>
                           <img src="assets/images/fyR8WZS.jpg" alt="product">
                        </div>
                     </div>
                     <nav class="scroll-link">
                        <a href="#about" class="smooth" title="Scroll">Scroll</a>
                     </nav>
                  </div>
               </div>
            </div>
         </header>
         <nav id="navigation" class="navbar navbar-default navbar-top">
            <div class="container-fluid">
               <div class="nav-bg top-nav"></div>
               <div class="container">
                  <div class="navbar-button">
                     <ul class="ul-btn">
                        <li><a [routerLink]="['/checkout']" class="button action-button-nav smooth" title="Commandez">PEÇA AGORA</a></li>
                     </ul>
                  </div>
                  <div class="navbar-header">
                     <button id="nav-icon" type="button" class="navbar-toggle collapsed nav-icon" data-toggle="collapse" data-target="#menu-navbar" aria-expanded="false">
                     <span></span>
                     <span></span>
                     <span></span>
                     <span></span>
                     </button>
                     <a class="navbar-brand smooth" href="#home">MagicVeneers™<span class="logo-promo-text">Encontre confiança em seu sorriso.</span></a>
                  </div>
                  <div class="collapse navbar-collapse" id="menu-navbar">
                     <ul class="nav navbar-nav navbar-right smooth-nav">
                        <li class="current"><a href="#home" title="Home">Home</a></li>
                        <li><a href="#about" title="About">MagicVeneers™</a></li>
                        <li><a href="#technologies" title="Products">BENEFÍCIOS</a></li>
                        <li><a href="#reviews" title="Reviews">TESTEMUNHOS</a></li>
                     </ul>
                  </div>
                  <div class="clearfix"></div>
               </div>
            </div>
         </nav>
         <section id="about" class="about block">
            <div class="container">
               <div class="row">
                  <div class="col-md-6 about-content">
                     <h2>COMO FUNCIONA? UM TAMANHO SERVE PARA TODOS<br></h2>
                     <p>É muito simples. Você recebe 1 bocal que se encaixa em seus dentes. O bocal é feito de silicone 100% médico.<br><br><b>Passo 1:</b> Coloque o MagicVeneers™ em água fervente por 2-3 minutos, permitindo que ele suavize.<br><br><b>Passo 2:</b> Aguarde 15 segundos (para deixar esfriar) e coloque sobre os dentes superiores durante 30 segundos para moldá-lo.<br><br><b>Passo 3:</b> Coloque o molde em água fria por 30 segundos para endurecer.<br><br><b>Pronto! Diga olá para sua nova imagem, um sorriso perfeito.</b></p>
                  </div>
                  <div class="col-md-6 about-img">
                     <img src="assets/images/4dqXpW3.png" alt="watch">
                  </div>
               </div>
            </div>
         </section>
         <section id="technologies" class="technologies block">
            <div class="overlay-tech"></div>
            <div class="container tech-container">
               <div class="row">
                  <h2>DESCUBRA OS BENEFÍCIOS DE MAGICVENEERS™</h2>
                  <div class="block-desc">
                     <p>Na sociedade de hoje, um sorriso perfeito é o sinal número um de beleza. As pessoas estão constantemente fazendo piadas sobre sorrisos ruins ou dentes feios. Infelizmente, nem todo mundo tem o meio de corrigir o sorriso... felizmente, MagicVeneers™ está aqui para corrigir esse problema e aumentar sua confiança!</p>
                  </div>
                  <div class="col-md-3 tech-block">
                     <i class="icon-settings"></i>
                     <h3>ALTA QUALIDADE</h3>
                     <p>O molde é feito de silicone 100% de alta qualidade, adaptando-se a qualquer forma do dente e seguro para sua saúde.</p>
                  </div>
                  <div class="col-md-3 tech-block">
                     <i class="icon-target"></i> <!-- Icon -->
                     <h3>RESULTADOS IMEDIATOS</h3>
                     <p>Diga adeus a 2 anos de aparelho! Com o MagicVeneers™, os resultados são instantâneos.</p>
                  </div>
                  <!-- End Technology 2 -->
                  <!-- Start Technology 3 -->
                  <div class="col-md-3 tech-block">
                     <i class="icon-tag"></i> <!-- Icon -->
                     <h3>PREÇO INCREÍVEL</h3>
                     <p>MagicVeneers™ é a maneira mais barata de obter um sorriso perfeito. Salve milhares de dólares.</p>
                  </div>
                  <!-- End Technology 3 -->
                  <!-- Start Technology 4 -->
                  <div class="col-md-3 tech-block">
                     <i class="icon-shield"></i> <!-- Icon -->
                     <h3>SEM NECESSIDADE DE SOFRIMENTO</h3>
                     <p>Não há aparelhos doloridos, sem depósitos ou visitas em dentistas. Este processo é indolor.</p>
                  </div>
                  <!-- End Technology 4 -->
                  <!-- Start Technology 5 -->
                  <div class="col-md-3 tech-block">
                     <i class="icon-picture"></i> <!-- Icon -->
                     <h3>COBRAR DENTES FEIOS</h3>
                     <p>Não importa se os dentes estão danificados, sujos ou perdidos, você pode corrigi-lo com o MagicVeneers™.</p>
                  </div>
                  <!-- End Technology 5 -->
                  <!-- Start Technology 6 -->
                  <div class="col-md-3 tech-block">
                     <i class="icon-earphones-alt"></i> <!-- Icon -->
                     <h3>SUPORTE</h3>
                     <p>Se você tiver dúvidas ou preocupações, nossa incrível equipe de suporte está aqui para ajudar! Nós sempre respondemos no mesmo dia útil.</p>
                  </div>
                  <!-- End Technology 6 -->
                  <!-- Start Technology 7 -->
                  <div class="col-md-3 tech-block">
                     <i class="icon-bulb"></i> <!-- Icon -->
                     <h3>PERSONALIZADO PARA VOCÊ</h3>
                     <p>Sem necessidade de adesivos ou cola, este aparelho de ajuste personalizado nunca cairá!</p>
                  </div>
                  <!-- End Technology 7 -->
                  <!-- Start Technology 8 -->
                  <div class="col-md-3 tech-block">
                     <i class="icon-rocket"></i> <!-- Icon -->
                     <h3>SUPER CONFORTÁVEL.</h3>
                     <p>Feito de polipropileno micro-fino, o MagicVeneers será como seus próprios dentes. Basta usá-lo e esquecê-lo.</p>
                  </div>
                  <!-- End Technology 8 -->
               </div>
            </div>
            <!-- .tech-container -->
         </section>
         <!-- End Technologies -->
         <!-- Start Info with Right Image -->
         <section id="info-right" class="info-section info-right block">
            <div class="container">
               <div class="row flex-block">
                  <!-- Start Text -->
                  <div class="col-md-6 info-content">
                     <h2>FINALMENTE TENHO DENTES BRANCOS! </h2>
                     <p>Um sorriso perfeito é feito não apenas pela forma, mas também pela cor. MagicVeneers ™ dará aos seus dentes uma brancura brilhante e natural, sem parecer falsa.
                     </p>
                     <a  [routerLink]="['/checkout']" class="button hero-button smooth" title="Commandez">PEÇA AGORA</a>
                  </div>
                  <!-- End Text -->
                  <!-- Start Image -->
                  <div class="col-md-6 info-img">
                     <img src="assets/images/jiIwqjv.jpg" alt="product">
                  </div>
                  <!-- End Image -->
               </div>
            </div>
            <!-- .container -->
         </section>
         <!-- End Info with Right Image -->
         <!-- Start Info with Left Image -->
         <section id="info-left" class="info-section info-left block gray">
            <div class="container">
               <div class="row flex-block">
                  <!-- Start Image -->
                  <div class="col-md-6 info-img desktop_content">
                     <img src="assets/images/2I2iV8U.jpg" alt="product">
                  </div>
                  <!-- End Image -->
                  <!-- Start Text -->
                  <div class="col-md-6 info-content">
                     <h2>PREENCHA OS ESPAÇOS ENTRE SEUS DENTES.</h2>
                     <p>Não tem tempo ou dinheiro para uma coroa ou implante dentário? Corrija o problema com esta solução simples e econômica.
                     </p>
                     <a  [routerLink]="['/checkout']" class="button hero-button smooth" title="Commandez">PEÇA AGORA</a>
                  </div>
                  <div class="col-md-6 info-img mobile_content">
                     <img src="assets/images/2I2iV8U.jpg" alt="product">
                  </div>
                  <!-- End Text -->
               </div>
            </div>
            <!-- .container -->
         </section>
         <!-- End Info with Left Image -->
         <!-- Start Info with Right Image -->
         <section id="info-right" class="info-section info-right block">
            <div class="container">
               <div class="row flex-block">
                  <!-- Start Text -->
                  <div class="col-md-6 info-content">
                     <h2>MELHORE SUA APARÊNCIA, TORNE-SE MAIS ATRAENTE.</h2>
                     <p>Estrelas de cinema e celebridades cuidam dos dentes. Nossa sociedade está focada na beleza. Ser lindo hoje significa ter um lindo sorriso. Homens e mulheres não podem resistir a um sorriso de hollywood. Agora, qualquer um pode alcançar esses ótimos resultados.
                     </p>
                     <a  [routerLink]="['/checkout']" class="button hero-button smooth" title="Commandez">PEÇA AGORA</a>
                  </div>
                  <!-- End Text -->
                  <!-- Start Image -->
                  <div class="col-md-6 info-img">
                     <img src="assets/images/lW5GjkG.jpg" alt="product">
                  </div>
                  <!-- End Image -->
               </div>
            </div>
            <!-- .container -->
         </section>
         <!-- End Info with Right Image -->
         <!-- Start FAQ -->
         <section id="faq" class="faq block gray">
            <div class="container">
               <div class="row">
                  <h2>PEÇA COM CONFIANÇA!</h2>
                  <div class="block-desc">
                     <p>Ao solicitar diretamente do MagicVeneers™, oferecemos a nossa segurança e suporte</p>
                  </div>
                  <div class="col-md-4 answer">
                     <img src="assets/images/icone1.png">
                     <h4><i class="fa fa-star" aria-hidden="true"></i> Suporte ao Cliente Rápido <i class="fa fa-star" aria-hidden="true"></i></h4>
                     <p>Você odeia esperar? Nós também! Respondemos todas as suas perguntas de segunda a sexta-feira em menos de 24 horas. Normalmente, muito mais rápido! Tem alguma preocupação? Entre em contato conosco e nós ajudaremos.</p>
                  </div>
                  <div class="col-md-4 answer">
                     <img src="assets/images/icone2.png">
                     <h4><i class="fa fa-star" aria-hidden="true"></i> Pagamento seguro  <i class="fa fa-star" aria-hidden="true"></i></h4>
                     <p>Nosso site inteiro é em HTTPS com criptografia de 256 bits, proporcionando máxima segurança. Não temos acesso ao seu número de cartão de crédito, não armazenamos dados e não podemos reutilizar seu cartão em uma data posterior sem sua permissão.</p>
                  </div>
                  <div class="col-md-4 answer">
                     <img src="assets/images/icone3.png">
                     <h4><i class="fa fa-star" aria-hidden="true"></i>  100% satisfeito ou seu dinheiro de volta <i class="fa fa-star" aria-hidden="true"></i></h4>
                     <p>Se, por qualquer motivo, você não estiver 100% satisfeito com sua compra, nós o reembolsaremos no prazo de 30 dias. Experimente sem risco. Se você não quiser mantê-lo, simplesmente devolva-o para um reembolso total imediato.</p>
                  </div>
               </div>
            </div>
            <!-- .container -->
         </section>
         <!-- End FAQ -->
         <!-- Start Products / Layout 3 -->
         <section id="products-3" class="products-l2 block">
            <div class="container">
               <div class="row">
                  <h2>-TENHA 60% DE DESCONTO HOJE COM ENVIO LIVRE!</h2>
                  <div class="block-desc">
                     <p>Seguindo nosso recente sucesso na mídia, estamos preparando uma enorme venda para espalhar a palavra. Estamos oferecendo 60% de desconto, tente MagicVeneers ™ e espalhe a palavra!</p>
                  </div>
                  <!-- Start Product 1 -->
                  <div id="product-l2-1" class="col-md-6 col product-l2">
                     <div class="product-l2-block">
                        <div class="product-l2-bg">
                           <div class="bg-img"></div>
                           <div class="bg-content"></div>
                        </div>
                        <!-- Start Product Images -->
                        <div class="product-l2-img">
                           <div class="product-l2-container">
                              <img src="assets/images/QjPbawE.jpg" alt="product">
                           </div>
                        </div>
                        <!-- End Product Images -->
                        <!-- Start Product Content -->
                        <div class="product-l2-content">
                           <div class="product-info">
                              <h3>MagicVeneers™</h3>
                              <p class="version">Dentes Top<br>(1 peça)</p>
                              <span class="sale">R$249,90</span> <span class="sale-price">R$69,90</span>
                              <p class="desc">Oferta especial exclusiva, obtenha a sua antes dos aumentos de preços para R$69,90!</p>
                              <p class="desc">*Devido ao sucesso de vendas, o prazo de entrega pode variar de 20 a 60 dias.</p>
                              <div class="l2-bnt-block">
                                 <a  [routerLink]="['/checkout']" class="button buy-button" title="Commandez">PEÇA AGORA</a>
                              </div>
                           </div>
                        </div>
                        <!-- End Product Content -->
                     </div>
                     <!-- .product-l2-block -->
                  </div>
                  <!-- End Product 1 -->
               </div>
            </div>
         </section>         
         <section id="cta" class="cta block color">
            <div class="cta-parallax-1"></div>
            <div class="cta-parallax-2"></div>
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <h2>PEÇA MAGICVENEERS ™ HOJE</h2>
                     <a  [routerLink]="['/checkout']" class="button action-button-cta" title="Buy This Template">PEÇA AGORA</a>
                  </div>
               </div>
            </div>
         </section>
         <!-- End Call To Action -->
         <!-- Start Reviews -->
         <section id="reviews" class="reviews block gray">
            <div class="container">
               <div class="row">
                  <h2>TESTEMUNHOS</h2>
                  <div class="block-desc">
                     <p>Pedir online não é simples, você está se perguntando se você está fazendo a escolha certa. Temos uma grande quantidade de clientes felizes e toneladas de críticas positivas. Encontre alguns abaixo.</p>
                  </div>
                  <!-- Start Review 1 -->
                  <div id="review-1" class="col-md-6 review">
                     <p>Eu não estou mais nervoso ao sorrir, meus dentes são tão feios e os odeio. Eu sempre estava tentando manter minha boca fechada, mas eu não tenho mais que fazer isso. O uso do MagicVeneers foi super simples e o resultado é incrível. Muito obrigado, você mudou minha vida e melhorou minha confiança.</p>
                     <div class="author">
                        <img src="assets/images/SH0JpVk.jpg" alt="author">
                        <h4>Gabriel D.</h4>
                        <p>São Paulo.</p>
                     </div>
                  </div>
                  <!-- End Review 1 -->
                  <!-- Start Review 2 -->
                  <div id="review-2" class="col-md-6 review">
                     <p>Eu pedi MagicVeneers porque eu tenho um dente faltando. Meu orçamento é muito apertado e não posso me dar o luxo de corrigi-lo agora. Eu estava me sentindo super envergonhado sobre isso. </p>
                     <div class="author">
                        <img src="assets/images/Y8bxZQu.jpg" alt="author">
                        <h4>Lucas R.</h4>
                        <p>Rio de Janeiro. </p>
                     </div>
                  </div>
                  <!-- End Review 2 -->
                  <!-- Start Review 1 -->
                  <div id="review-1" class="col-md-6 review">
                     <p>Esta é a solução mais fácil e mais barata do mercado para alcançar um sorriso perfeito, produto incrível, estou muito feliz com o MagicVeneers.</p>
                     <div class="author">
                        <img src="assets/images/yFrlrQR.jpg" alt="author">
                        <h4>Matheus A</h4>
                        <p>Brasília.</p>
                     </div>
                  </div>
                  <!-- End Review 1 -->
                  <!-- Start Review 1 -->
                  <div id="review-1" class="col-md-6 review">
                     <p>Eu uso o MagicVeneers há quase 6 meses, é apenas um item incrível. Meu sorriso é absolutamente perfeito e tão branco. Estou realmente apaixonado por MagicVeneers. Eu não uso isso todos os dias, mas eu gosto de me sentir confiante quando saio com amigos ou tenho reuniões de trabalho.</p>
                     <div class="author">
                        <img src="assets/images/nqczjil.jpg" alt="author">
                        <h4>Amanda B</h4>
                        <p>Belo Horizonte</p>
                     </div>
                  </div>
                  <!-- End Review 1 -->
               </div>
            </div>
            <!-- .container -->
         </section>
         <!-- End Reviews -->
         <!-- Start Footer -->
         <footer id="footer" class="footer">
            <div class="footer-bg">
               <div class="footer-bg-img"></div>
               <div class="footer-bg-overlay"></div>
               <span class="trapeze-footer-bg"></span>
            </div>
            <div class="container footer-first-line">
               <div class="row">
                  <!-- Start Text in Footer -->
                  <div class="col-md-6 footer-about">
                     <h2>MagicVeneers.com</h2>
                     <p>
                        MagicVeneers™ é a solução perfeita para obter um sorriso perfeito em 2 minutos a um preço incrível. Mais de 4.500.000 peças vendidas em todo o mundo. Peça o seu hoje e fique impressionado ou 100% do seu dinheiro de volta!
                     </p>
                     <ul class="footer-social-icons">
                     </ul>
                  </div>
                  <!-- End Text in Footer -->
                  <!-- Start Contacts -->
                  <div class="col-md-6 footer-contacts">
                     <h2><span style="color: #FBC02D !important"class="text-notice">Fale Conosco</span></h2>
                     <p>Se você tiver quaisquer comentários, preocupações ou perguntas, não hesite em nos contatar! Respondemos a todas as perguntas em menos de 24 horas de segunda a sexta-feira.</p>
                     <ul>
                        <li><strong>Precisa de ajuda?:</strong> <a style="color:#FBC02D" href="mailto:contato@meusorrisoperfeito.com"> Email: contato@meusorrisperfeito.com</a> </li>
                     </ul>
                  </div>
                  <!-- End Contacts -->
               </div>
            </div>
            <!-- .footer-first-line -->
            <div class="container footer-second-line">
               <div class="row">
                  <div class="col-md-6 footer-bottom-links">
                     <p class="copyright">MeuSorrisoPerfeito.com 2018 - Todos os direitos reservados</p>
                  </div>
               </div>
            </div>
            <!-- .footer-second-line -->
         </footer>
         <!-- End Footer -->
      </section>
    </div>
  </div>