<block-ui>
<ngx-smart-modal #myBootstrapModal identifier="myBootstrapModal" [escapable]="false" [dismissable]="false" (onClose)="fecha()" (onOpen)="scrollUp()">        
    <div *ngIf="api.transactionCode">
        <div class="modal-header">
            <span style="float:left; font-size:0.8em">Processado pelo 
                <img src="./assets/images/logo_pagseguro.png">
            </span>                
        </div>
        <div class="modal-body">
            <div style="text-align:center; margin-top:5% !important; margin-bottom:5% !important">
                <img src="./assets/images/info.png">                
            </div>                
            <p style="text-align:center; padding:2%">Estamos aguardando a liberação da operadora do seu cartão, verifique seu e-mail, você receberá informações detalhadas sobre o andamento da sua compra!</p>
        </div>
        <div class="modal-footer">
            <a href="http://meusorrisoperfeito.com" style="background-color:#00AB65" class="btn btn-block btn-success active">OK
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
    <div *ngIf="!api.transactionCode">
        <div class="modal-header">
                <span style="float:left; font-size:0.8em">Processado pelo 
                    <img src="./assets/images/logo_pagseguro.png">
                </span>                
                <div class="row bs-wizard" style="border-bottom:0;">                                                                
                        <div class="col-xs-4 bs-wizard-step " [ngClass]="{'complete' : (step>1)}"><!-- complete -->
                          <div class="text-center bs-wizard-stepnum">Dados Pessoais</div>
                          <div class="progress"><div class="progress-bar"></div></div>
                          <a href="javascript:void(0)" (click)="step=1" class="bs-wizard-dot"></a>                          
                        </div>
                        
                        <div class="col-xs-4 bs-wizard-step " [ngClass]="{'active' : (step>1), 'complete': (step>2), 'disabled':(step<2)}" ><!-- complete -->
                          <div class="text-center bs-wizard-stepnum">Entrega</div>
                          <div class="progress"><div class="progress-bar"></div></div>
                          <a href="javascript:void(0)" (click)="step=2" class="bs-wizard-dot"></a>                          
                        </div>
                        
                        <div class="col-xs-4 bs-wizard-step" [ngClass]="{'active' : (step>2), 'complete': (step>3), 'disabled':(step<3)}"><!-- active -->
                          <div class="text-center bs-wizard-stepnum">Pagamento</div>
                          <div class="progress"><div class="progress-bar" [ngClass]="{'full-progress': (step>3)}"></div></div>
                          <a href="javascript:void(0)" class="bs-wizard-dot"></a>                          
                        </div>
                    </div>                                                                                            
        </div>
        <div class="modal-body">
            <div class="row" *ngIf="step == 1">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group" [ngClass]="{'has-success' : valida.nome}">
                        <label>Nome Completo</label>
                        <input [(ngModel)]="dadosPagamento.sender.name" type="text" class="form-control input-sm">                        
                    </div>                   
                </div>
                <div class="col-xs-6 col-md-4">                            
                    <div class="form-group" [ngClass]="{'has-success' : valida.aniversario}">
                        <label for="email">Aniversário</label>
                        <input placeholder="DD/MM/AAAA" [(ngModel)]="aniversario" type="text" class="form-control input-sm" mask="99/99/9999">
                    </div>                    
                </div>                                      
                <div class="col-md-6 col-xs-6">
                    <div class="form-group" [ngClass]="{'has-success' : valida.cpf}">
                        <label>CPF</label>
                        <input [(ngModel)]="cpf" type="text" class="form-control input-sm" mask="000.000.000-00">                           
                    </div>                 
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group" [ngClass]="{'has-success' : valida.email}">
                        <label>E-mail</label>
                        <input [(ngModel)]="dadosPagamento.sender.email" type="email" class="form-control input-sm">                           
                    </div>                 
                </div>                
                <div class="col-md-3 col-xs-3">                   
                    <div class="form-group" [ngClass]="{'has-success' : valida.ddd}">
                        <label>DDD</label>
                        <input [(ngModel)]="dadosPagamento.sender.phone.areaCode" type="text" class="form-control input-sm" mask="(00)" >                        
                    </div>                               
                </div>         
                <div class="col-xs-9">    
                    <div class="form-group" [ngClass]="{'has-success' : valida.telefone}">
                        <label>Celular</label>
                        <input [(ngModel)]="dadosPagamento.sender.phone.number" type="text" class="form-control input-sm" mask="000000000000">                        
                    </div>                
                </div>                                    
            </div>
            <div class="row" *ngIf="step == 2">
                <div class="col-md-3 col-xs-12">            
                    <div class="form-group" [ngClass]="{'has-success' : valida.cep}">
                        <label for="email">CEP</label>
                        <input [(ngModel)]="dadosPagamento.creditCard.billingAddress.postalCode" (blur)="getCep()" type="text" class="form-control input-sm" mask="00000-000">                                   
                    </div>
                </div>
                <div class="col-md-7 col-xs-9">                            
                    <div class="form-group" [ngClass]="{'has-success' : valida.cidade}">
                        <label for="email">Cidade</label>
                        <input [(ngModel)]="dadosPagamento.creditCard.billingAddress.city" type="text" class="form-control input-sm">                                                   
                    </div>                    
                </div>
                <div class="col-md-2 col-xs-3">                            
                    <div class="form-group" [ngClass]="{'has-success' : valida.uf}">
                        <label for="email">UF</label>
                        <input [(ngModel)]="dadosPagamento.creditCard.billingAddress.state" type="text" class="form-control input-sm" mask="AA">                              
                    </div>                    
                </div>                
                <div class="col-md-4 col-xs-12">                            
                    <div class="form-group" [ngClass]="{'has-success' : valida.bairro}">
                        <label for="email">Bairro</label>
                        <input [(ngModel)]="dadosPagamento.creditCard.billingAddress.district" type="text" class="form-control input-sm">                                    
                    </div>                    
                </div>                
                <div class="col-md-8 col-xs-12">                            
                    <div class="form-group" [ngClass]="{'has-success' : valida.endereco}">
                        <label for="email">Endereço</label>
                        <input [(ngModel)]="dadosPagamento.creditCard.billingAddress.street" type="text" class="form-control input-sm">                        
                    </div>                    
                </div>              
                <div class="col-md-4 col-xs-4">                            
                    <div class="form-group" [ngClass]="{'has-success' : valida.numero}">
                        <label for="email">Número</label>
                        <input [(ngModel)]="dadosPagamento.creditCard.billingAddress.number" type="text" class="form-control input-sm">                        
                    </div>                    
                </div>                                                               
                <div class="col-md-8 col-xs-8">                            
                    <div class="form-group has-success">
                        <label for="email">Complemento</label>
                        <input [(ngModel)]="dadosPagamento.creditCard.billingAddress.complement" type="text" class="form-control input-sm">                                            
                    </div>                    
                </div>                                                                     
            </div>
            <div class="row" *ngIf="step == 3">
                <div class="tabbable-panel">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs ">
                            <li [ngClass]="{'active':pageCartao==1}">
                                <a href="javascript:void(0)" (click)="pageCartao = 1">
                                Titular do Cartão
                                    </a>
                            </li>
                            <li [ngClass]="{'active':pageCartao==2}">
                                <a href="javascript:void(0)" (click)="pageCartao = 2">
                                Detalhes da Compra</a>
                            </li>                                
                        </ul>                                                                                           
                        <div class="tab-content">
                            <div class="tab-pane active" *ngIf="pageCartao == 1" >  
                                <div>
                                    <label class="check ">Você é o titular do cartão?
                                        <input (click)="titularFields($event)" checked type="checkbox" checked name="is_name">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="slider" [hidden]="isTitular">
                                    <div class="col-xs-7">                            
                                        <div class="form-group" [ngClass]="{'has-success' : valida.titnome}">
                                            <label for="email">Nome Completo</label>
                                            <input [(ngModel)]="dadosPagamento.creditCard.holder.name" type="text" class="form-control input-sm">
                                        </div>                    
                                    </div>              
                                    <div class="col-xs-5">                            
                                        <div class="form-group" [ngClass]="{'has-success' : valida.titaniver}">
                                            <label for="email">Aniversário</label>
                                            <input placeholder="DD/MM/AAAA" [(ngModel)]="aniversario2" type="text" class="form-control input-sm" mask="99/99/9999">
                                        </div>                    
                                    </div>                                                               
                                    <div class="col-xs-12">                            
                                        <div class="form-group" [ngClass]="{'has-success' : valida.titcpf}">
                                            <label for="email">CPF</label>
                                            <input type="text" [(ngModel)]="dadosPagamento.creditCard.holder.documents.document.value" class="form-control input-sm" mask="000.000.000-00">
                                        </div>                    
                                    </div>                                                                     
                                    <div class="col-xs-3">                            
                                        <div class="form-group" [ngClass]="{'has-success' : valida.titddd}">
                                            <label for="email">DDD</label>
                                            <input type="text" [(ngModel)]="dadosPagamento.creditCard.holder.phone.areaCode" class="form-control input-sm" mask="(99)">
                                        </div>                    
                                    </div>                                                             
                                    <div class="col-xs-9">                            
                                        <div class="form-group" [ngClass]="{'has-success' : valida.titcelular}">
                                            <label for="email">Celular</label>
                                            <input type="text" [(ngModel)]="dadosPagamento.creditCard.holder.phone.number" class="form-control input-sm" mask="000000000000">
                                        </div>                    
                                    </div>     
                                </div>                                                                                                                          
                            </div>
                            <div class="tab-pane active row" *ngIf="pageCartao==2">        
                                <div class="col-md-5" style="border-style: solid !important; border-right:1px; border-color:silver">
                                    <ul class="list-group">                                        
                                        <li class="list-group-item" style="padding:0px 10px !important; font-size:0.8em"><b>Produto:</b> <span style="float:right">Sorriso Veneers</span></li>                                        
                                        <li class="list-group-item" style="padding:0px 10px !important; font-size:0.8em"><b>Vl. Unitário:</b> <span style="float:right">R$69.90</span></li>
                                        <li class="list-group-item" style="padding:0px 10px !important; font-size:0.8em"><b>Quantidade:</b> <span style="float:right">{{dadosPagamento.items.item.quantity}} Un.</span></li>                                        
                                        <li class="list-group-item" style="padding:0px 10px !important; font-size:0.8em"><b>Total:</b> <span style="float:right">R${{getTotal()}}</span></li>
                                    </ul>
                                    <div class="form-group">
                                        <label style="font-size:0.8em" for="sel1">Quantidade</label>
                                        <select (change)="getParcelas();" [(ngModel)]="dadosPagamento.items.item.quantity" class="form-control input-sm" id="sel1">
                                          <option *ngFor="let qtd of [1,2,3,4,5] " [value]="qtd">{{qtd}} Un.</option>                                          
                                        </select>
                                    </div>                                    
                                </div>                                                                                                                                            
                                <div class="col-md-7">
                                    <div class="col-md-12">            
                                        <div class="form-group" [ngClass]="{'has-success' : valida.card, 'has-error':erroCartao}">
                                            <label for="email">Número do Cartão</label>
                                            <input [ngStyle]="imageBandeira" (keyup)="getBandeira()" [(ngModel)]="cardNumber" type="text" class="form-control input-sm" mask="9999 9999 9999 9999">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-6">                            
                                        <div class="form-group" [ngClass]="{'has-success' : valida.validade}">
                                            <label for="email">Válidade</label>
                                            <input type="text" [(ngModel)]="dtValidade" class="form-control input-sm" mask="99/99" placeholder="MM/AA">
                                        </div>                    
                                    </div>
                                    <div class="col-md-6 col-xs-6">                            
                                        <div class="form-group" [ngClass]="{'has-success' : valida.cvv}">
                                            <label for="email">CVV</label>
                                            <input type="text" [(ngModel)]="cvv" class="form-control input-sm">
                                        </div>                    
                                    </div>              
                                    <div class="col-xs-12">                            
                                        <div class="form-group">
                                            <label for="sel1">Parcelamento</label>
                                            <select [(ngModel)]="qtVezes" class="form-control input-sm" id="sel1">
                                            <option *ngFor="let parcela of parcelamento" [selected]="parcela.quantity===1" [value]="parcela.quantity">{{parcela.quantity}}x de R$ {{verificaZero(parcela.installmentAmount)}} {{verificaJuros(parcela.interestFree)}}</option>                                          
                                            </select>
                                        </div>                                                                                    
                                    </div>
                                    <div class="col-xs-12" style="text-align:right !important">
                                        <img src="./assets/images/cadeado.jpg">
                                    </div>
                                </div>                                                                      
                            </div>                                                      
                        </div>
                    </div>
                </div>                                               
            </div>     
        </div>   
        <div class="modal-footer">                
            <button *ngIf="step==1" type="button" style="background-color:#00AB65" (click)="next()"class="btn btn-success" [ngClass]="{'active':validaStep1(),'disabled':!validaStep1()}" >Próximo
                <i class="fa fa-arrow-right"></i>
            </button>
            <button *ngIf="step==2" type="button" style="background-color:#00AB65" (click)="next()"class="btn btn-success" [ngClass]="{'active':validaStep2(),'disabled':!validaStep2()}" >Próximo   
                <i class="fa fa-arrow-right"></i>
            </button>             
            <button *ngIf="step==3" type="button" style="background-color:#00AB65" (click)="efetivaPagamento()"class="btn btn-success btn-block" [ngClass]="{'active':validaStep3(),'disabled':!validaStep3()}" >Finalizar Pagamento                        
                <i class="fa fa-arrow-right"></i>
            </button>                        
        </div>            
    </div>
</ngx-smart-modal>
</block-ui>

  <div class="row" style="color:white;">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4"></div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div id="pagarme-modal-box-step-choose-method">
          <div id="pagarme-checkout-card-button" class="brand-background-color darker-hover choose-method-button-container arrow" style="background-color:#00AB65;">
            <button (click)="myBootstrapModal.open(); inicializa()" id="pagarme-credit-card-payment-method" class="brand-border-color" style="border-bottom-color:#00AB65;">
                    Iniciar Compra <span id="credit-card-discount" class="payment-discount"></span><br>
                    <div id="credit-card-helper-text" class="payment-method-helper-text"></div>
                </button>                
            <span class="button-indicator icon-pg-checkout-continue"></span>
          </div>
      </div>
    </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">                    
      </div>              
  </div>